.Posts {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 80%;
    margin: auto;
}
.Blog ul{

    list-style: none;
    margin :0px;
    padding: 0;
    width: 100%;
    text-align: center;
    background-color: #ffffff;
    box-shadow: 0px 2px 3px #cccccc;

}

.Blog li {
    display: inline-block;
    margin : 20px;
}

.Blog a {
    text-decoration: none;
    color : black;
}

.Blog a:active,
.Blog a:hover,
.Blog a.active {
    color : #fa923f;
}